*.iml
.gradle
.idea/
capture_automation/
.DS_Store
*.apk
*.ap_
*.aab
*.dill
*.jar
*.jks
*.jk
*.keystore
*.p8
*.p12
*.mobileprovision
*.orig.*
*.iml
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/Flutter/app.flx
/ios/Flutter/app.zip
/ios/Flutter/flutter_assets/
/ios/Flutter/flutter_export_environment.sh
/ios/ServiceDefinitions.json
/ios/Runner/Flutter/GeneratedPluginRegistrant.*
/windows/flutter/generated_plugins.cmake
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle/
/android/captures/
/android/gradlew.bat
/android/gradlew
/android/local.properties
/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
*.log
